.list {
    display: flex;
    align-items: center;
    height: 30px;
    overflow: hidden;

    .title {
        display: block;
        flex: 0 0 auto;
        padding: 5px 0;
        margin-right: 5px;
        color: grey;
        vertical-align: middle;
    }
}

.listItem {
    flex: 0 0 auto;
    padding: 5px 8px;
    border-radius: 10px;

    .selected {
        border: 1px solid ${style ["theme-color"]};
        opacity: 0.8;
    }
}